<h1>
  Please sign up for Bookmark Manager
</h1>
<form action="/sign_up" method="post" >
  <label for='email'>
    Email:
    <input type="text" name="Email" />
  </label>
  <label for='password'>
    Password:
    <input type='text' name='Password' />
  </label>
  <input type="submit" value="Submit">
</form>
