<h1>
  Please add a new link
</h1>
<form action="/new_link" method="post" >
  <lable for='title'>
    Title:
    <input type="text" name="title" />
  </lable>
  <lable for='url'>
    <input type='text' name='url' />
  </lable>
  <input type="submit" value="Create link">
</form>
